.dark-mode .highlight table td { padding: 5px; }
.dark-mode .highlight table pre { margin: 0; }
.dark-mode .highlight, .dark-mode .highlight .w {
  color: #d8d8d8;
  background-color: #181818;
}
.dark-mode .highlight .err {
  color: #181818;
  background-color: #ab4642;
}
.dark-mode .highlight .c, .dark-mode .highlight .ch, .dark-mode .highlight .cd, .dark-mode .highlight .cm, .dark-mode .highlight .cpf, .dark-mode .highlight .c1, .dark-mode .highlight .cs {
  color: #585858;
}
.dark-mode .highlight .cp {
  color: #f7ca88;
}
.dark-mode .highlight .nt {
  color: #f7ca88;
}
.dark-mode .highlight .o, .dark-mode .highlight .ow {
  color: #d8d8d8;
}
.dark-mode .highlight .p, .dark-mode .highlight .pi {
  color: #d8d8d8;
}
.dark-mode .highlight .gi {
  color: #a1b56c;
}
.dark-mode .highlight .gd {
  color: #ab4642;
}
.dark-mode .highlight .gh {
  color: #7cafc2;
  background-color: #181818;
  font-weight: bold;
}
.dark-mode .highlight .ge {
  font-style: italic;
}
.dark-mode .highlight .ges {
  font-weight: bold;
  font-style: italic;
}
.dark-mode .highlight .gs {
  font-weight: bold;
}
.dark-mode .highlight .k, .dark-mode .highlight .kn, .dark-mode .highlight .kp, .dark-mode .highlight .kr, .dark-mode .highlight .kv {
  color: #ba8baf;
}
.dark-mode .highlight .kc {
  color: #dc9656;
}
.dark-mode .highlight .kt {
  color: #dc9656;
}
.dark-mode .highlight .kd {
  color: #dc9656;
}
.dark-mode .highlight .s, .dark-mode .highlight .sb, .dark-mode .highlight .sc, .dark-mode .highlight .dl, .dark-mode .highlight .sd, .dark-mode .highlight .s2, .dark-mode .highlight .sh, .dark-mode .highlight .sx, .dark-mode .highlight .s1 {
  color: #a1b56c;
}
.dark-mode .highlight .sa {
  color: #ba8baf;
}
.dark-mode .highlight .sr {
  color: #86c1b9;
}
.dark-mode .highlight .si {
  color: #a16946;
}
.dark-mode .highlight .se {
  color: #a16946;
}
.dark-mode .highlight .nn {
  color: #f7ca88;
}
.dark-mode .highlight .nc {
  color: #f7ca88;
}
.dark-mode .highlight .no {
  color: #f7ca88;
}
.dark-mode .highlight .na {
  color: #7cafc2;
}
.dark-mode .highlight .m, .dark-mode .highlight .mb, .dark-mode .highlight .mf, .dark-mode .highlight .mh, .dark-mode .highlight .mi, .dark-mode .highlight .il, .dark-mode .highlight .mo, .dark-mode .highlight .mx {
  color: #a1b56c;
}
.dark-mode .highlight .ss {
  color: #a1b56c;
}
